.newcity {
  height: 100vh;
  background-image: url("https://s1.1zoom.me/big3/426/Italy_Sea_Panorama_Houses_Portofino_613053_6144x2581.jpg");
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: color;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formNewCity {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(33, 33, 33, 0.815);
  padding: 25px;
  width: 500px;
  height: 400px;
  border-radius: 1rem;
  color: white;
}

.formNewCity label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.formNewCity label input {
  width: 70%;
  padding: 10px;
}

.tituloNewCity {
  top: 100px;
  position: absolute;
  color: #eeeeee;
}

.divTituloNewcity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-newcity {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ff3648;
  color: white;
  padding: 20px 0px;
}

@media (max-width: 576px) {
  .formNewCity {
    padding: 0px;
    width: 300px;
    height: 400px;
  }
}
