.cardDetailsCity {
  background-color: rgba(32, 32, 32, 0.959);
  height: 550px;
  width: 1000px;
  flex-direction: row;
  display: flex;
  color: white;
  border-radius: 20px;
  z-index: 500;
}

.cardItinerary {
  width: 340px;
  height: 630px;
  background-color: rgba(238, 238, 238, 0.315);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cardItinerary:hover {
  transform: scale(1.01);
  transition: 350ms;
}

.divReactionImg {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.rowReactions99 {
  display: flex;
  gap: 10px;
}

.divReactionImg img {
  width: 25px;
  height: 25px;
}

.detailscity {

  background-color: rgba(0, 0, 0, 0.74);
 z-index: -1;

  background-blend-mode: color;
  background-attachment: fixed;
  display: flex;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  justify-content: center;
  align-items: center;
}

.tituloCardItinerary {
  margin: 0;
}

.description {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenCardDetails {
  display: flex;
  width: 50%;
  height: 100%;
}

.imagenCardDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.informacionCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
 height: 400px;
  gap: 40px;
  /* background-color: #fc4252; */
}

.informacionCardDetails h2 {
  margin: 0;
  color: aliceblue;
 font-size: 150px;
  text-align: center;
}

.informacionCardDetails h2::first-letter {
font-weight: 700;
font-size: 170px;
color: #fc4252;

}



.informacionCardDetails p {
  margin: 0;
  color: aliceblue;
 font-size: 20px;
  text-align: center;
  font-style: italic;
}
.buttonBackCity {
  border-radius: 400px;
  background-color: red;
}

.informationCities {
  padding-top: 35px;
  min-height: 80vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.informationCities h2 {
  margin: 0;
}

.hotelsfromcities {
  padding: 80px 20px;
  gap: 50px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rowComentsCards {
  display: flex;
  flex-direction: row;
}

.coments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.coment {
  display: flex;
  flex-direction: column;
}

.coments {
  width: 250px;
}

@media (max-width: 875px) {
  h3 {
    display: block;
  }
}

@media (max-width: 768px) {
  .cardDetailsCity {
    background-color: rgba(32, 32, 32, 0.959);
    height: 550px;
    width: 1000px;
    flex-direction: column;
    display: flex;
    color: white;
    border-radius: 20px;
  }

  .imagenCardDetails {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    /* align-items: center; */
  }

  .imagenCardDetails img {
    object-fit: cover;
    border-radius: 25px;
    height: auto;
  }

  .informacionCardDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  .hotelsfromcities {
    padding: 0px;
    gap: 50px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rowComentsCards {
    display: flex;
    flex-direction: column;
  }

  .coments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    border-radius: 0px;
    width: 340px;
  }
}



/* ///////////////////NEW DESCRIPTION */



.ContenedorGeneral99{


display: flex;
flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.171) 0px 3px 8px;
border-radius: 0px 10px 10px 10px;
width: 70%;

}


.CardGigante99{
width: 100%;
height: 50vh;
background-color: rgba(247, 243, 243, 0.486);
display: flex;
border-radius: 0px 10px 10px 10px;


}


.imgCardGigante99{
  width: 50%;
  height: 100%;
}

.imgCardGigante99 img{
  width: 100%;
  height: 100%;
  border-right: 4px rgb(68, 66, 66)solid;
  object-fit: cover;
}

.infoCardGigante99{

width: 50%;
height: 100%;
display: flex;
flex-direction: column;
padding: 20px;
justify-content: space-between;
align-items: center;


}
.infoCardGigante99 h3{

 font-weight: 700;
 letter-spacing: 4px;
 margin: 0px;
  
  }




.pd99{
display: flex;
flex-wrap: wrap;
gap: 20px;

}


.newComment{

top: 10px;
right: 425px;
  width: 50px;
  height: 50px;
  border-radius: 180px;
  background-color: rgb(34, 36, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.newComment:hover{
  background-color: #55ee7c;
  transition-duration: 400ms;
}


.textArea99{
  width: 700px;
  height: 80px;
  border-radius: 10px;
  resize: none;
  margin: 10px;
}
.button102{
  padding: 5px;
  border-radius: 8px;
  background-color: #fc4252;
  color: #ffffff;
  margin-left: 10px;
}
.textArea99::placeholder{
 padding-left: 10px;
 padding-top: 5px;
 font-style: italic;
}


.button102:hover{
 
  background-color: #55ee7c;
  transition-duration: 400ms;
  cursor: pointer;
}
.comments99{


min-height: 10vh;
max-height: 35vh;
border-radius: 0px 0px 10px 10px;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
padding: 20px;
width: 70%;
align-items: center;
margin-top: -45px;
overflow-y: scroll;



}
.comments99::-webkit-scrollbar{

background-color: rgb(255, 255, 255);
width: 7px;
height: 20px;
  
  }


.comments99::-webkit-scrollbar-thumb{

  background-color: #fc4252;
  border-radius: 20px;
  
}




.negrita99{
  font-weight: 700;
}

.comments99 h3{
  width: 100%;
  text-align: center;
  margin: 0px;
margin-bottom: 10px;
font-weight: 200;

}




/* //////////////////////////////////////////COMMENTSCOMPONENT */




.comments100{


  background-color: rgb(61, 60, 60);
  border-radius: 5px;
  width: 550px;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;

  } 

  
.comments100logged{


  background-color: rgb(61, 60, 60);
  border-radius: 5px;
  width: 550px;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;

  } 

  
 



.iconitos100{
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;

  height: 100px;
  gap: 3px;
}

.iconitos100 img{
  width: 15px;
  height: 15px;
  cursor: pointer;
}






  .photo100{
background-color: rgb(255, 255, 255);
border-radius:180px;
width: 100px;
height: 100px;
object-fit: cover;
border: #c7c7c7 3px solid;
  }


  .photo100logged{
    background-color: rgb(255, 255, 255);
    border: #36eb63 4px solid;
    border-radius:180px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    
    
      }
    
  

  .parrafo100{
    color: white !important;
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
    
  }

  .parrafo101{
    color: white !important;
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
    margin: 10px;
    font-weight: 500;
    
  }


  .btn.details{
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.3s;
    outline: none;
  }
.btn-details:hover{
  color: #ffffff;

  
  transition: ease-out 0.6s;
  box-shadow: inset 0px 100px 100px 0 #f03050f3;




 
}


/* //////////////////////mediaqueriup////////////////// */






@media (max-width: 1060px) {
  .headerCities h2{
    
      margin-left: 40px; 
    }
    

}


@media (max-width: 768px) {
  .informationCities h2{
    
      margin-bottom: 15px; 
    }
    

}



@media (max-width: 680px) {
  .headerCities h2{
    
      margin-left: 40px; 
    }
    
    .detailscity h2{
      font-size: 35px !important;
    }

    .detailscity h2::first-letter{
      font-size: 50px;
    }


    .comments100 p{
      font-size: 8px;
     
    }

    .comments100 img{
      width: 7px;
      height: 7px;
     
    }

    .photo100{
      /* display: none; */
    
      min-width:40px;
      min-height: 40px;
    
    }
    .parrafo101{
      /* display: none; */
    
      display: none;
    
    }




}



@media (max-width: 490px) {
 .infoCardGigante99 h3{
  font-size: 10px;
 }

 .infoCardGigante99 p{
  font-size: 12px;
 }
    
 .infoCardGigante99 button {
  font-size: 10px;
  border-radius: 10px;
 }

 .footereano{
margin-top: 40px;
 }
}
