.detailshotel {
  background-image: url("https://s1.1zoom.me/big3/113/355904-admin.jpg");  
  background-color: rgba(0, 0, 0, 0.596);
  background-blend-mode: color;
  background-attachment: fixed;  
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardDetailsHotel {
    background-color: rgba(32, 32, 32, 0.863);
  height: 550px;
  width: 1000px;
  display: flex;
  color: white;
  border-radius: 10px;
}

.imagenCardDetailsHotel {
  width: 50%;
  height: 100%;
}

.imagenCardDetailsHotel img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;

}

.informacionCardDetailsHotel {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.informacionCardDetailsHotel p {
  margin-left: 18px;
}

.informacionCardDetailsHotel h3 {
  margin-left: 0px;
}

.informationhotel {
  min-height: 80vh;
  display: flex;
  padding-top: 35px;

  align-items: center;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

h2 {
  margin: 0px;
  
}
.eventsfromhotels {
  flex-grow: 1;
  width: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 40px;
  margin-bottom: 20px;
}

.eventsfromhotels h4 {
  text-align: center;
  padding: 5px;
}

.eventsfromhotels p {  
  padding: 5px;
}


.cardEvents:hover {
  transform: scale(1.01);
  transition: 350ms;
}



.elPadre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.elHijo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(28, 28, 28, 0.896);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 250px;
  height: 507px;
  color: aliceblue;
}
