.headerHotels {
    height: 100vh;
    background-image: url("https://images8.alphacoders.com/889/889507.jpg");
    background-color: rgba(0, 0, 0, 0.596);
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-position: center;
  }
  
  .headerHotels h2 {
    color: white;
  }
  
  .bodyCities h2 {
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
  }
  
  .citiesPhrase {
  
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0px;
      
  
  }
  
  .citiesPhrase p {
  
      font-style: italic;
      font-size: 2rem;
      font-weight: 100;
  
  }
  
  .spanpunto {
  
      font-weight: 500;
  
  }
  
  
  
  .mainCities{
      margin-bottom: 140px;
  }
  
  .mainCities {
    padding: 20px;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 100px;
  
    
  }
  
  /*/ arranca card /*/
  

  
  .cardCity:hover {
  
      transform: scale(1.01);
      transition: 350ms;
  
  }
  
  .inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }
  
  .inputs fieldset{
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    
  
  }
  
  .checkboxs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
  }
  
  .searchForText {
    width: 300px;
  }
  
  .inputs {
  
    padding: 30px;
  
  }
  
  .inputs input {
  
    margin: 0px 10px;
  
  }
  


  
  
  
  .imgCard img {
      
      width: 328px;
      height: 382px;
      flex-grow: 1;
  
  }
  
  
  .btn-details {
  
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: rgb(255, 54, 72);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    cursor: pointer;
  
  }
  
  @media (max-width: 1176px) { 
  
    .inputs {
      align-items: center;   
      gap: 15px;   
      flex-direction: column;
     
      
    }
  }
  
  